<template>
    <div class="tags-container" >
        <template v-for="item in filteredList">
            <span v-bind:key="item[1].name" class="tags"
                  v-bind:class="{yesclass: item[1].chestGranted}">
                {{item[1].name}}
                <a v-if="item[1].chestGranted">Yes</a>
                <a v-else>No</a>
            </span>
        </template>
    </div>
</template>

<script>
    export default {
        name: "Tags",
        props: ["championObj"],
        computed: {
            filteredList: function() {
                return Object.entries(this.championObj).filter(function (value) {
                    return value[1].hasOwnProperty("chestGranted")
                });
            }
        }
    }
</script>

<style scoped>
    .tags-container {
        margin: auto;
        width: 50%;
        line-height: 120%;
        height: fit-content;
    }
    .tags {
        width: fit-content;
        border-radius: 5px 5px 5px;
        display: inline-block;
        border: 1px solid #f0f0f0;
        padding: 3px;
        white-space: nowrap;
        background-color: lightskyblue;
    }
    .yesclass {
        background-color: lightgreen;
    }
</style>
