<template>
    <div id="app">
        <h2>League of legends - chest already granted?</h2>

        <div class="mainInput">
            <h6>
                API Key - get one from
                <a href="https://developer.riotgames.com/" target="_blank">here</a>
                (valid 24h)
                <b-form-input :state="null" class="my-input form-control " v-model="riotDeveloperToken" type="text"/>
            </h6>
            <h6>
                Summoner Name:
                <input class="my-input form-control " v-model="summonerId" type="text"/>
            </h6>
            <div align="right">
                <button v-focus v-on:click="buttonClicked" class="btn btn-primary">
                    Find out
                </button>
            </div>
        </div>


        <tags :championObj="this.championLookup"></tags>

        <a href="https://gitlab.com/vafalls/chest-grant">
            <span class="fork-me">Fork Me On GitLab</span>
        </a>
    </div>
</template>

<script>
    import Tags from './components/Tags.vue'
    import axios from "axios";
    import Vue from 'vue';

    export default {
        name: 'app',
        data() {
            return {
                corsAnywhereUrl: "https://cors-anywhere.herokuapp.com/",
                lolApiUrl: "https://euw1.api.riotgames.com/lol/",
                ddragonUrl: "https://ddragon.leagueoflegends.com/",
                summonerId: "",
                riotDeveloperToken: "",
                championLookup: {}
            }
        },
        components: {
            "tags": Tags
        },
        mounted: function() {
            this.summonerId = this.$cookie.get('summonerId');
            this.riotDeveloperToken = this.$cookie.get('riotDeveloperToken');
            this.getVersionList();
        },
        methods: {
            buttonClicked() {
                this.getEncryptedSummonerId();
            },
            getVersionList() {
                let self = this;
                axios.get(`https://ddragon.leagueoflegends.com/api/versions.json`, {})
                    .then( function(response) {
                        self.getChampionStruct(response.data[0])
                    }).catch(function(error) {
                        console.error(error);
                });
            },
            getChampionStruct(version) {
                let self = this;
                axios.get(`${this.ddragonUrl}cdn/${version}/data/en_US/champion.json `, {})
                    .then( function(response) {
                        Object.entries(response.data.data).forEach(function ([key, value]) {
                            Vue.set(self.championLookup, value.key, {});
                            Vue.set(self.championLookup[value.key], "name", key);
                            Vue.set(self.championLookup[value.key], "pic", value.image.full)
                        });
                    }).catch(function(error) {
                        console.error(error);
                    });
                },
            getEncryptedSummonerId() {
                this.$cookie.set('summonerId', this.summonerId, 10);
                this.$cookie.set('riotDeveloperToken', this.riotDeveloperToken, 10);
                let self = this;
                axios.get(`${this.corsAnywhereUrl}${this.lolApiUrl}` +
                    `summoner/v4/summoners/by-name/${this.summonerId}`, {
                    headers: {
                        "X-Riot-Token": self.riotDeveloperToken,
                    },
                }).then(function(response){
                    self.getChestStatusForAllChamps(response.data.id)
                }).catch(function(error) {
                    console.error(error);
                });
            },
            getChestStatusForAllChamps(encryptedSummonerId) {
                let self = this;
                axios.get(`${this.corsAnywhereUrl}${this.lolApiUrl}` +
                    `champion-mastery/v4/champion-masteries/by-summoner/${encryptedSummonerId}`, {
                    headers: {
                        "X-Riot-Token": self.riotDeveloperToken,
                    },
                }).then( function(response) {
                    response.data.forEach(x => {
                        Vue.set(self.championLookup[x.championId], "chestGranted", x.chestGranted)
                    });
                }).catch(function(error) {
                    console.error(error);
                });
            },
        }
    }
</script>

<style>
    .mainInput {
        width: 50%;
        text-align: left;
        align-self: auto;
        align-items: flex-start;
        margin: auto;
        margin-bottom: 7px;
    }
    .my-input {
        width: 100%;
        display: inline-block;
    }
    h6 {
        display: block;
        white-space: nowrap;
        /*position: relative;*/
        /*text-align: center;*/
    }
    .fork-me {
        font-family: tahoma;
        font-size: 20px;
        position:fixed;
        top:50px;
        right:-45px;
        display:block;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        background-color:blue;
        color:white;
        padding: 4px 30px 4px 30px;
        z-index:99;
    }
    #app {
        /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
        /*-webkit-font-smoothing: antialiased;*/
        /*-moz-osx-font-smoothing: grayscale;*/
        text-align: center;
        /*color: #2c3e50;*/
        margin-top: 60px;
    }
    /*.btn {*/
        /*!*display: block !important;*!*/
        /*position: relative;*/
        /*right: 0;*/
        /*!*text-align: right;*!*/
    /*}*/
</style>
